*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-image: url("https://images.unsplash.com/photo-1655159428752-c700435e9983?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmxhY2tqYWNrfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
body p{
    margin: 20px;
    margin-left: 55%;
    font-size: 40px;
    background: -webkit-linear-gradient(#f12711, #f5af19);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}
.heading{
    margin-top: 5px;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(#fc4a1a, #f7b733);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}
h1{
    color: goldenrod;
    font-size: 60px;
    margin-left: 55%;
}
#player-el{
    font-size: 30px;
    font-weight: 300;
}
.btn{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background: linear-gradient(to right, #f12711, #f5af19); 
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 20px;
    margin-left: 55%;
}
.btn:hover{
    cursor: pointer;
    border: 2px solid white;
}
